CRON_SECRET=

NEXT_PUBLIC_DOMAIN=

DATABASE_URL=

NODE_ENV=

NEXTAUTH_SECRET=
ANONYMOUS_USER=
COUNTID=
ANONYMOUS_USER_ID=
ANONYMOUS_USER_CLICK=

RESEND_API_KEY=

UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=

VERCEL_TOKEN=
VERCEL_PROJECT_ID=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

DODO_PAYMENTS_API_KEY=
DODO_PAYMENTS_ENVIRONMENT=
DODO_PAYMENTS_RETURN_URL=
DODO_PAYMENTS_WEBHOOK_SECRET=

DODO_PRODUCT_ESSENTIALS_ID_MONTHLY=
DODO_PRODUCT_PRO_ID_MONTHLY=
DODO_PRODUCT_PRO_ID_ANNUALLY=
DODO_PRODUCT_ESSENTIALS_ID_ANNUALLY=