@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@plugin "daisyui";

.font-one { font-family: "Boldonse", system-ui; font-weight: 400; }
.font-two { font-family: "Alfa Slab One", serif; font-weight: 400; }
.font-three { font-family: "Share Tech", sans-serif; font-weight: 400; }
::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

::-webkit-scrollbar {
    display: none;
}

html {
  scrollbar-gutter: stable;
}

::view-transition-old(root) { z-index: 1; }
::view-transition-new(root) { z-index: 9999; }

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
}

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --radius: 0.625rem;
}

.dark {
  --background: oklch(0.14 0.005 0); 
  --foreground: oklch(0.98 0.005 0);
  
  --card: oklch(0.18 0.005 0);
  --card-foreground: oklch(0.98 0.005 0);
  
  --popover: oklch(0.18 0.005 0);
  --popover-foreground: oklch(0.98 0.005 0);
  
  --primary: oklch(0.98 0.005 0);
  --primary-foreground: oklch(0.14 0.005 0);
  
  --secondary: oklch(0.24 0.005 0);
  --secondary-foreground: oklch(0.98 0.005 0);
  
  --muted: oklch(0.24 0.005 0);
  --muted-foreground: oklch(0.65 0.005 0);
  
  --accent: oklch(0.28 0.005 0);
  --accent-foreground: oklch(0.98 0.005 0);
  
  --destructive: oklch(0.60 0.12 25);
  
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 10%);
  --ring: oklch(0.98 0.005 0);
}

@layer base {
  *, ::after, ::before {

    border-color: var(--border);
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }
}